body{
    text-align: center;
    background-color: #e3f6f5;
}

div{
    width: 30%;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

h1, #question{
    color: #57636e;
}

button{
    margin: 10px;
    width: 45%;
    padding: 8px;
    border: solid 2px #1a5151;
    border-radius: 5px;
    background-color: #34a3a3;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#score-result, #question-count{
    color: #19150e;
}